<div class="main">
	<p id="notice"><%= notice %></p>
	
	<h1>Contents</h1>
	<div class="container">
		<div class="row">
			<table class="table">
				<thead>
				<tr>
					<th>Section</th>
					<th>Content</th>
					<th></th>
				</tr>
				</thead>
				
				<tbody>
				<% @contents.each do |content| %>
					<tr>
						<td><%= content.section %></td>
						<td><%= content.content %></td>
						<td><%= link_to 'Edit', edit_content_path(content) %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			
			<br>
		
		</div>
	</div>
</div>