
<div class="main">
	<div class="container">
		<section class="hgroup">
			<h1>About The Owner</h1>
			<h2>Gus Kaloidis </h2>
			
			<ul class="breadcrumb pull-right">
				<li><%= link_to 'Home', '/' %></li>
				<li class="active">About the Owner</li>
			</ul>
		
		</section>
		<section class="article-text">
			<div class="row">
				<div class="col-sm-8 col-md-8">
					<div class="lead"><br>
						<p>Gus Kaloidis had been in the restaurant business in Woodbury for over 40 years until he sold his restaurant (Elenni's/ Woodbury Pizza Castle) in 2006. The Flea Market is his latest venture and he is very happy to be back in business in Woodbury serving the public.</p>
						
						<p>Gus is a former airline pilot and his passion has always been flying. He has been a resident of Woodbury for over forty years and is a member of the Woodbury Lions Club. He runs the flea market with his wife Ann and his three children, Vas, Chrysanthe and Maria Eleni.</p>
					</div>
					<p class="columns_2">
						<blockquote>
					<p>
						<i class="fa fa-envelope"></i> <a href="mailto:thenewwoodburyfleamarket@gmail.com">thenewwoodburyfleamarket@gmail.com</a> <br><br>
						<i class="fa fa-phone"> (203) 263-6217 </i>
					</p>
					<small>Contact us to reserve a spot!</small>
					</blockquote>
				</div>
				<div class="col-sm-4 col-md-4">
					<div class="service_teaser vertical">
						<div class="service_photo">
							<figure style="background-image:url(<%= image_path "gus.jpg" %>)"></figure>
						</div>
						<div class="service_details">
							<h2 class="section_header skincolored"><b>Gus Kaloidis</b>
								<small>Owner</small>
							</h2>
							<a class="btn btn-primary" href="mailto:thenewwoodburyfleamarket@gmail.com">E-Mail <i class="fa fa-envelope"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>