<footer>
	<section class="twitter_feed_wrapper">
		<div class="container">
			<div class="row wow animated fadeInUp">
				<div class="twitter_feed_icon col-sm-1 col-md-1"><a href="https://www.facebook.com/woodburyflea/"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
				<div class="col-sm-11 col-md-11">
					<blockquote>
						<p>Like Us On Facebook  <a href="https://www.facebook.com/woodburyflea/">https://www.facebook.com/woodburyflea/</a></p>
						— The Woodbury Flea Market (@woodburyflea) <a href="https://www.facebook.com/woodburyflea/">April 16, 2015</a></blockquote>
				</div>
			</div>
		</div>
	</section>
	<section id="footer_teasers_wrapper">
		<div class="container">
			<div class="row">
				<div class="footer_teaser col-sm-4 col-md-4">
					<h3>Info</h3>
					<p><i class="fa fa-map-marker"></i> 25 Sherman Hill Rd</p>
					<p><i class="fa fa-phone"></i> (203) 263-6217</p>
					<p><i class="fa fa-envelope"></i>  thenewwoodburyfleamarket@gmail.com</p>
					<p>
						<a href="https://www.facebook.com/pages/Woodbury-Antiques-Flea-Market/194628543955095">
							<i class="fa fa-facebook"></i> Like Us on Facebook!
						</a>
					</p>
				</div>
				<div class="footer_teaser col-sm-4 col-md-4">
					<h3>Copyright</h3>
					Copyright The Woodbury Flea Market ©2018<br>
					Sherman Great Meadows LLC. all rights reserved<br>
				</div>
				<div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
					<h3>Website Developed by </h3>
					<a href="http://bluehelmet.software"><img src="/images/bluehelmet.png" width="300" alt="Bluehelmet" /></a>
				</div>
			</div>
		</div>
	</section>
</footer>